body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 1px black solid;
}


.navbar-brand {
  padding-top: 15px;
  border-color: black;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: red;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#main_title {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 15px;
}

#sub-title span {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 5px;
}

#sub-title{
  background-color: gray;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: red;
  text-align: center;
  border-bottom: 1px black solid;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

